<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Group Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/chat.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <section class="messages-and-users">
        <div class="messages-list">
            <i>Сообщений нет</i>
        </div>
        <div class="users-list">
            <i>Пользователей нет</i>
        </div>
    </section>

    <section class="controls">
        <textarea class="new-message"></textarea>
        <button class="send-message">Отправить</button>
    </section>
</body>
</html>